* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
td, th , tr{
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
table{
    width: 100%;
}
th{
    font-size: 13px; 
    font-weight: bold; 
}

.custom_css {

    background-color: yellow;

}

.main-container {
    margin-top: 10%;
}

.table-border {
    border: solid 1px #222222;
}

.cuadrado {

    border: solid 1px #222222;
}

.borde {
    border: solid 1px black;
}

.borde-right {
    border-right: solid 1px black;
}

.borde-left {
    border-left: solid 1px black;
}

.borde-bottom {
    border-bottom: solid 1px black;
}

.borde-top {
    border-top: solid 1px black;
    padding: 25px;

}

.extra_top {
    margin-top: 30px;
}

.text-small {
    font-size: 12px;
}

.text-medio {
    font-size: 12px;
}

table.table {
    margin-top: 1px !important;
    margin-bottom: 0px !important;
}

table.cuadrado > td {
    border-left: solid 1px black;
}
.fondo{
    background-color: #cdcfd7;
}
.fondo-seccion{
    background-color: #BDEFCF;
    font-weight: 700;
}
.text-bold{
    font-weight: bold;
}

